<div class="row justify-content-md-center" *ngIf="countries">
    <div class="col col-xs-12 col-lg-6">
        <div class="list-group">
            <div class="list-group-item list-group-item-action" *ngFor="let country of countries" (click)="openDialog(country)">
                {{country.name}}
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-md-center" *ngIf="!countries || countries.length == 0">
    <div class="col col-xs-12 col-lg-6">
        You haven't searched for any countries
    </div>
</div>